/*common---------------------*/
body {
  color: #31353B;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7333333333;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  margin: 50px 0 80px;
}
.header__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__name {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  padding: 100px 0;
  background-color: #DBFFFF;
  text-align: right;
}
.footer__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.footer__list {
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.menu__item {
  margin-left: 30px;
  font-weight: bold;
}
.menu__item--check {
  color: #FF9900;
}

.unit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.unit__info {
  width: 44%;
}
.unit__category {
  margin-bottom: 20px;
  color: #FF9900;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6666666667;
  letter-spacing: 0;
}
.unit__title {
  margin-bottom: 40px;
  color: #000;
  font-size: 48px;
  line-height: 1.2083333333;
}
.unit__text {
  margin-bottom: 60px;
}
.unit__pic {
  width: 50%;
}

.btn {
  display: block;
  width: 200px;
  padding: 20px;
  background-color: #F85A47;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
.btn--orange {
  background-color: #FF9900;
  width: 100%;
}

/*index.html--------------------*/
.office {
  margin-bottom: 120px;
}
.office__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  margin-bottom: 120px;
}
.review__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.review__category {
  margin-bottom: 20px;
  color: #FF9900;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6666666667;
  letter-spacing: 0;
}
.review__title {
  margin-bottom: 40px;
  color: #000;
  font-size: 48px;
  line-height: 1.2083333333;
}
.review__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.review__item {
  width: 47%;
  padding: 45px 40px;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
}
.review__comment {
  margin-bottom: 80px;
}

.poster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row flex-start;
  align-items: center;
  justify-content: space-between;
}
.poster__profile {
  margin-left: 20px;
}
.poster__name {
  font-weight: bold;
}

/*about.html--------------------*/
.deal {
  margin-bottom: 120px;
}
.deal__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.deal__info {
  width: 60%;
}
.deal__title {
  margin-bottom: 40px;
  color: #000;
  font-size: 48px;
  line-height: 1.2083333333;
}
.deal__text {
  margin-bottom: 60px;
}
.deal__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.deal__item {
  width: 30%;
}
.deal__pic {
  margin-bottom: 30px;
}

.space {
  margin-bottom: 120px;
}
.space__inner {
  width: 69.4444444444%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.space__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */