@charset "utf-8";

body {
    color: #000;
    font-family: "Times New Roman",
        "YuMincho",
        "Hiragino Mincho ProN",
        "Yu Mincho",
        "MS PMincho",
        serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    width: 100%;
    height: auto;
}

.inner {
    max-width: 960px;
    width: 86.48%;
    margin-left: auto;
    margin-right: auto;
}

/* header */
h1 {
    margin: 40px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

/* about */
.about {
    position: relative;
}

.catch {
    position: absolute;
    bottom: 80px;
    padding: 40px;
    background-color: #fff;
}

.site {
    font-size: 18px;
    line-height: 1.6;
}

.text {
    font-size: 36px;
    line-height: 1.38;
}

/* disction */
h2 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

h2::before {
    content: "KUMONが向き合うもの";
    width: 194px;
    display: flex;
    margin: 100px auto 25px;
    padding: 8px 15px;
    color: #fff;
    background-color: #72C9F3;
    font-size: 14px;
    line-height: 1.7;
}

h2::after {
    content: "";
    display: block;
    margin: 20px auto 50px;
    padding-top: 20px;
    width: 80px;
    border-top: 1px solid #000;
}

.pic {
    position: relative;
}

.content {
    position: absolute;
    bottom: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.content {
    position: absolute;
    bottom: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.tag {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.hashtag {
    margin-top: 20px;
    margin-right: 10px;
    padding: 6px 12px;
    background-color: #f5f5f5;
}

/* footer */
footer {
    padding: 100px 0;
    color: #fff;
    background-color: #000;
}

.company,
.name,
.founding {
    display: flex;
}

dl {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

dt {
    padding-right: 50px;
}

.name {
    padding: 20px 0;
}

small {
    font-size: 12px;
    line-height: 2;
}

footer p {
    text-align: center;
}

@media(min-width:640px) {
    .about img {
        display: none;
    }

    .about {
        background-image: url(./images/bg_main.png) no-repeat center cover;
    }

    .reader {
        margin-right: 60px;
    }

    .post {
        display: flex;
        justify-content: space-between;
    }

    .content {
        left: 20px;
    }
}